<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Admin_login_screen"
        tools:targetApi="31">
        <activity
            android:name=".Road_transport"
            android:exported="false" />
        <activity
            android:name=".project_edit"
            android:exported="false" />
        <activity
            android:name=".chat_page"
            android:exported="false" />
        <activity
            android:name=".activity_profile"
            android:exported="false" />
        <activity
            android:name=".position_register"
            android:exported="false" />
        <activity
            android:name=".humidity_page"
            android:exported="false" />
        <activity
            android:name=".temperature_measurement"
            android:exported="false" />
        <activity
            android:name=".user_home_screen_map_temperature_humidity"
            android:exported="false" />
        <activity
            android:name=".measurement_temperature_humidity"
            android:exported="false" />
        <activity
            android:name=".user_add_project"
            android:exported="false" />
        <activity
            android:name=".user_project_edit"
            android:exported="false" />
        <activity
            android:name=".user_home_page"
            android:exported="false" />
        <activity
            android:name=".type_of_transport"
            android:exported="false" />
        <activity
            android:name=".add_project"
            android:exported="false" />
        <activity
            android:name=".project_home"
            android:exported="false" />
        <activity
            android:name=".position_login"
            android:exported="false" />
        <activity
            android:name=".register_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>